langgraph
langgraph-checkpoint-sqlite
a2a-sdk[fastapi]==1.1.0
langchain
langchain-openai
langsmith
openai
fastapi
uvicorn
pydantic
pydantic-settings
python-dotenv
yfinance
pandas
numpy
httpx
requests
tenacity
pytest
